mat-toolbar {
  position: sticky;
  top: 0;
  z-index: 100;
  
  mat-icon {
    font-size: 28px;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 14px;
  }
}

// ADD this to mat-toolbar styles:
mat-toolbar {
  background: #FFFFFF !important;
  border-bottom: 3px solid #FF9933;

  span { color: #E65100; }
  a { color: #333333 !important; }
}